[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "common/zsh/zsh/zsh-git-prompt"]
	path = common/zsh/zsh/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
#[submodule "workstation"]
#	path = workstation
#	url =
#[submodule "linux/gtk/themes/arc"]
#	path = linux/gtk/themes/arc
#	url = https://github.com/horst3180/Arc-theme.git
